<h1>Task List</h1>
<h4>Pinned Task</h4>
{{#if this.pinnedTask}}
{{#each this.pinnedTask as |task|}}
<SingleTask @task={{task}} {{if this.task.isPinned "un-pinned!important"}} />
{{/each}}
{{else}}
<nav class="navbar navbar-light bg-light">
  <span class="navbar-text no-pins">
    No Pinned Tasks
  </span>
</nav>
{{/if}}
<h4>Other Tasks</h4>
{{#each this.unPinnedTask as |task|}}
<SingleTask @task={{task}} />
{{/each}}

<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    <strong>Completed Tasks:</strong> {{this.completedTasks}}
  </span>
</nav>